.dashboard {
    background-color: #F5F5F5;
    display: flex;

    .left {
        width: 280px;
        height: 944px;
        background-color: #000000;
        border-radius: 30px;
        color: #FFFFFF;
        font-family: Montserrat;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 40px;

        .top {
            display: flex;
            flex-direction: column;
            // margin-top: 20px;

            // justify-content: center;
            h2 {
                font-weight: 700;
                font-size: 36px;
                color: #FFFFFF;
                margin-left: 50px;
                margin-top: 60px;
                width: 123px;
                height: 44px;
            }

            ul {
                list-style: none;

                margin-top: 15px;

                li {
                    display: flex;
                    margin-top: 15px;

                    img {
                        width: 18px;
                        height: 18px;
                        color: #FFFFFF;
                        margin-top: 2px;

                    }

                    h4 {
                        margin-top: 0;
                        margin-left: 10px;

                        height: 22px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }
            }


        }

        .bottom {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            margin-top: 350px;

            span {
                font-family: Monserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                margin-top: 15px;
            }
        }

    }

    .right {
        margin-left: 60px;
        width: 1000px;
        margin-top: 60px;



        .stats {

            // border: 1px solid black;
            display: flex;
            gap: 40px;

            .item {
                width: 220px;
                height: 120px;
                border-radius: 15px;
                margin-top: 40px;

            }

            .card1 {
                background-color: #DDEFE0;


            }

            .card2 {
                background-color: #F4ECDD;
            }

            .card3 {
                background-color: #EFDADA;
            }

            .card4 {
                background-color: #DEE0EF;
            }



            .heading {

                // margin-top: 5px;
                margin-left: 25px;

                color: #000000;
                font-family: Lato;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
            }

            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 32.68px;
                margin-top: 5px;
                margin-left: 25px;
            }



        }

        .chart {
            // border: 1px solid blue;
            height: 360px;
            margin-top: 40px;
            background-color: #FFFFFF;

        }

        .topProds {
            // border: 1px solid rgb(11, 11, 22);
            margin-top: 30px;
            height: 260px;
            display: flex;
            gap: 40px;

            .section1 {
                width: 480px;
                background-color: #FFFFFF;

            }

            .section2 {
                width: 480px;
                background-color: #FFFFFF;
            }
        }
    }
}