.dashboard {
    background-color: #F5F5F5;
    display: flex;

    .left {
        width: 280px;
        height: 944px;
        background-color: #000000;
        border-radius: 30px;
        color: #FFFFFF;
        font-family: Montserrat;
        margin-top: 40px;
        margin-left: 40px;
        margin-bottom: 40px;

        .top {
            display: flex;
            flex-direction: column;

            h2 {
                font-weight: 700;
                font-size: 36px;
                color: #FFFFFF;
                margin-left: 50px;
                margin-top: 60px;
                width: 123px;
                height: 44px;
                cursor: pointer;
            }

            h2:hover {
                color: #ddd9d9;
                transition: 200ms;
                transform: scale(1.005);

            }

            ul {
                list-style: none;

                margin-top: 15px;

                li {
                    display: flex;
                    margin-top: 15px;

                    cursor: pointer;

                    img {
                        width: 18px;
                        height: 18px;
                        color: #FFFFFF;
                        margin-top: 2px;

                    }

                    h4 {
                        margin-top: 0;
                        margin-left: 10px;

                        height: 22px;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                    }
                }

                li:hover {
                    color: rgb(183, 179, 179);
                }



            }

            ul li:first-child img {
                font-weight: 700;
            }

            ul li:first-child h4 {
                font-weight: 700;
            }

            ul li:first-child:hover {
                color: #ffffff;
            }




        }

        .bottom {
            display: flex;
            flex-direction: column;
            margin-left: 50px;
            margin-top: 350px;
            cursor: pointer;

            span {
                font-family: Monserrat;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                margin-top: 15px;
            }
        }

    }

    .right {
        margin-left: 60px;
        width: 1300px;
        margin-top: 60px;



        .stats {

            display: flex;
            justify-content: space-between;
            gap: 40px;

            .item {

                width: 280px;
                height: 150px;
                border-radius: 15px;
                margin-top: 40px;
                cursor: pointer;

            }

            .card1 {
                background-color: #DDEFE0;


            }

            .card2 {
                background-color: #F4ECDD;
            }

            .card3 {
                background-color: #EFDADA;
            }

            .card4 {
                background-color: #DEE0EF;
            }



            .heading {

                // margin-top: 5px;
                margin-left: 25px;

                color: #000000;
                font-family: Lato;
                font-weight: 400;
                font-size: 14px;
                line-height: 16.8px;
            }

            span {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 700;
                line-height: 32.68px;
                margin-top: 5px;
                margin-left: 25px;
            }



        }

        .chart {
            height: 360px;
            margin-top: 40px;
            background-color: #FFFFFF;
            border-radius: 20px;

        }

        .topProdsSchedule {
            width: 1300px;
            margin-top: 30px;
            height: 260px;
            display: flex;
            justify-content: space-between;

            .section1 {
                width: 580px;
                background-color: #FFFFFF;
                border-radius: 20px;
                cursor: pointer;
            }

            .section2 {
                width: 580px;
                background-color: #FFFFFF;
                border-radius: 20px;
                cursor: pointer;
            }
        }
    }
}