.home {

    display: flex;

    .left {
        width: 40%;
        height: 100vh;
        background-color: #000;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {

            color: #FFFFFF;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 72px;
            line-height: 87px;
            cursor: pointer;

        }

        h1:hover {
            color: #ddd9d9;
            transition: 200ms;
            transform: scale(1.005);

        }
    }

    .right {
        background-color: #F5F5F5;
        width: 60%;
        height: 100vh;
        display: flex;

        .login {
            background-color: #e9e2e2;
            height: 180px;
            width: 400px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            margin-left: 260px;
            margin-top: 320px;
        }

        .login:hover {
            background-color: #ddd9d9;
            transition: 200ms;
            transform: scale(1.005);

        }
    }
}