.schedule {
    display: flex;
    flex-direction: column;


    .schedules {
        display: flex;

        h1 {
            margin-left: 40px;
            margin-top: 30px;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: left;


        }



    }







    .item {
        display: flex;
        margin-left: 40px;
        margin-bottom: 20px;
        height: 75px;
        width: 327px;

        .line1 {

            height: 66px;
            border: 5px solid #9BDD7C;

        }

        .line2 {

            height: 66px;
            border: 5px solid #6972C3;
        }

        .item1 {
            margin-left: 10px;
            display: flex;
            flex-direction: column;

            height: 80px;

            h3 {
                font-family: Lato;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #666;
                margin-top: 5px;



            }

            span {
                font-family: Lato;
                font-size: 12px;
                font-weight: 400;
                line-height: 14px;
                letter-spacing: 0em;
                text-align: left;
                color: #999999;
                display: flex;
                flex-direction: column;
                margin-bottom: 10px;
            }
        }

    }
}